/*
Name: Eden-Marie Freiku
Date created: 2025-11-09
Date last edited: 2025-12-10
Version: 3.0
Description: HW 2 CSS
*/
header {
    width: 100%;
    background-color: #7ad2ea;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #a8eee2;
    margin: 0;
    height: 100%;
    min-height: 100vh; 
}
form {
    flex-grow: 1;
}
h1, h2 {
    text-align: center;
    font-family:'Times New Roman';
    font-weight: bold;
    flex-grow: 1;
}
main {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: normal;
    flex-grow: 1;
}
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #7ad2ea;
  font-weight: bold;
}

.image {
    text-align: left;
    width: 200px;
    height: auto; 
}
.td1 {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
}
th {
    text-align: center;
    font-family: 'Times New Roman';
}
footer {
    position: static;
    bottom: 0;
    width: 100%;
    background-color: #7aa3ea;
    height: 2.0rem;
}
#footer {
    text-align: center;
    font-family: 'Times New Roman';
    font-weight: normal;
    margin-right: 10px;
}
label {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
}
input {
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: normal;
}
textarea {
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: normal;
}
#today {
    text-align: left;
    font-family: 'Times New Roman';
    font-weight: normal;
    margin-right: 5px;
}
p {
    text-align: right;
    font-family: 'Times New Roman';
    font-weight: normal;
}
